<!-- Include the header.ejs file -->
<%- include('header', { title: 'Welcome to MyApp' }) %>

<div class="row">
    <div class="col-md-4">
        <h4>Add a Collaborator</h4>
        <p>This page will help you update your collaborators in your repository.</p>
    </div>
    <div class="col-md-4">
        <h4>View Repositories</h4>
        <p>View all of the Repositories in the organization of your choice.</p>
    </div>
    <div class="col-md-4">
        <h4>Create a Team</h4>
        <p>Create a team within an organization</p>

    </div>
</div>


<!-- Include the footer.ejs file -->
<%- include('footer') %>